@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    background: url('../image/background-login.jpg');
    background-size: cover; 

    display: flex;
    justify-content: center; /* Elemen mulai dari atas */
    align-items: center;    
    height: 100vh;
    color: #ffffff;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 3px 8px rgba(0,0,0,0.6);

    opacity: 0;
    transform: translateY(-20px);
    animation: h1Slide 0.9s ease-out forwards;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;   /* h1 dan container ke tengah */
    gap: 20px;             /* jarak antara h1 dan container */
    width: 100%;
    padding-top: 0px;
    margin-top: -40px;
}

.container {
    background: #ffffff; 
    backdrop-filter: blur(10px); 
    padding: 25px 30px;
    border-radius: 12px;
    width: 320px;
    color: #000;
    box-shadow: 0 4px 18px rgba(0,0,0,0.25);

    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1565c0;
    font-weight: 600;
    font-size: 30px;
}

label {
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 93%;
    height: auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #0b469f;
}

p {
    font-size: 16px;
}

.foot {
    font-size: 14px;
}

p a {
    color: #1976d2;
    text-decoration: none;
}

@keyframes h1Slide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}